* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {   
    padding: 20px 30px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    background-size: cover;
    justify-content: space-between;
    position: relative;
}

#intro {
    font-style: italic;
    background-color: #f2a3b3;
    color: black;
    display: inline;
    margin: 0;
    font-weight: bold;
    padding: 30px;
    border-radius: 15px;
    float: left;
    font-size: 36px;
}


header a {
    font-style: italic;
    color: #f2a3b3;
    text-decoration: none;
    vertical-align: center;
}

header nav{
    margin: 7px 0;
    text-align: center;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 40px;
    padding: 30px;
    float: right;
}

header nav ul li a:hover {
    background-color: #f2a3b3;
    color: black;
    border-radius: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.cool {
    padding: 100px;
    display: block;
    background-color: pink;
    background-image:url("../images/asus.jpg");
    background-size: cover;
    background-position: center;
}

.cool-part {
    width: 35%;
    margin: 3.5%;
}

.cool-part h2 {
    font-style: italic;
    font-size: 45px;
    color: #f2a3b3;
    text-shadow: 0 0 10px rgba(212, 66, 181, 0.5);;
}

.info-wrapper {
    margin: auto;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 80px;
    justify-content: center;
}

.info {
    display: inline-block;
    width: 80%;
    padding: 80px
}

.float-left {
    border-right: 7px solid #f2a3b3;
    height: 150px;
    position:absolute;
    flex: 1 40%;
    padding-right: 60px;
    font-size: 50px;
}

/* .float-left h2{
    padding-right: 60px;
    font-size: 60px;
    flex: 1 30%;
} */

.float-right {
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 70%;
}

.float-right p {
    font-size: 20px;
    line-height: 1.7;
    width: 80%;
}

.items {
    height: 800px;
    width: 80%;
    margin-bottom: 30px;
}

.items-left {
    border-right: 7px solid #f2a3b3;
    height: 1000px;
    position:absolute;
    flex: 1 40%;
    font-size: 50px;
    padding-right: 60px;
}

.items-small {
    height: 800px;
    width: 80%;
    margin-bottom: 30px;
}

.runbuddy{
    background-image: url("../images/runbuddy.JPG");
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    border: 6px solid #f2a3b3;
    opacity: 0.5;
}

.runbuddy:hover {
    opacity: 1;
    transform: scale(1.1);
}

.challenge1 {
    background-image:url("../images/challenge1.JPG");
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    border: 6px solid #f2a3b3;
    opacity: 0.5;
}

.challenge1:hover {
    opacity: 1;
    transform: scale(1.1);
}














/* Responsive Navigation Menu (for mobile devices) */
@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding-bottom: 0;
    }

    #intro {
        padding: 5px 10px;
        float: none;
    }

    header nav {
        display: inline;
        padding: 5px 10px;
        width: 100%;

    }

    header nav ul {
        float: none;
        display: block;
        align-items: center;
    }

}