* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background-color: rgb(243, 219, 235);
}

header {   
    padding: 20px 30px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    background-size: cover;
    justify-content: space-between;
    position: relative;
}

#intro {
    font-style: italic;
    background-color: #f2a3b3;
    color: black;
    display: inline;
    margin: 0;
    font-weight: bold;
    padding: 30px;
    border-radius: 15px;
    float: left;
    font-size: 36px;
}


header a {
    font-style: italic;
    color: #f2a3b3;
    text-decoration: none;
    vertical-align: center;
}

header nav{
    margin: 7px 0;
    text-align: center;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 35px;
    padding: 30px;
    float: right;
}

header nav ul li a:hover {
    background-color: #f2a3b3;
    color: black;
    border-radius: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.cool {
    padding: 100px;
    display: block;
    background-color: pink;
    background-image:url("../images/asus.jpg");
    background-size: cover;
    background-position: center;
}

.cool-part {
    width: 35%;
    margin: 3.5%;
}

.cool-part h1 {
    font-style: italic;
    font-size: 45px;
    color: #f2a3b3;
    text-shadow: 0 0 10px rgba(212, 66, 181, 0.5);;
}

.info-wrapper {
    margin: auto;
    width: 100%;
    margin-bottom: 80px;
    justify-content: center;
}

.info {
    display: inline-block;
    width: 100%;
    padding: 80px;
    justify-content: space-between;
}

.float-left {
    border-right: 7px solid #f2a3b3;
    height: 150px;
    position:absolute;
    padding-right: 60px;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
}

.float-right {
    float: right;
    width: 100%;
    padding-left: 30%;
    padding-right: 10%;
    position: relative;
}

.float-right p {
    font-size: 20px;
    line-height: 1.7;
    width: 80%;
}

.items {
    height: 800px;
    width: 80%;
    margin-bottom: 30px;
    position: relative;
}

.items h3 {
    position: absolute;
    bottom: 10%;
    left: 5px;
    background-color: black;
    color: #f2a3b3;
    padding: 30px;
    font-size: 40px;
}

.items-left {
    border-right: 7px solid #f2a3b3;
    height: 1500px;
    position:absolute;
    flex: 1 40%;
    font-size: 50px;
    padding-right: 60px;
}


.runbuddy{
    background-image: url("../images/runbuddy.JPG");
    background-size: cover;
    background-position: center;
    display: block;
    height: 100%;
    width: 100%;
    border: 6px solid #f2a3b3;
    opacity: 0.5;
}

.runbuddy:hover {
    opacity: 1;
}


.items-small {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 80%;
    margin-bottom: 30px;
    justify-content: space-between;
}

.small-left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    padding-right: 10px;
    position: relative;
}

.small-left h3 {
    position: absolute;
    bottom: 10%;
    left: 5px;
    background-color: black;
    color: #f2a3b3;
    padding: 30px;
    font-size: 40px;
}

.small-left img {
    height: 100%;
    width: 100%;
    border: 6px solid #f2a3b3;
    opacity: 0.5;
}

.small-left img:hover {
    opacity: 1;
}

.small-left a {
    background-image:url("../images/challenge1.JPG");
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border: 6px solid #f2a3b3;
}

.small-left a:hover {
    opacity: 1;
}

.small-right {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    padding-left: 10px;
    position: relative;
}

.small-right h3 {
    position: absolute;
    bottom: 10%;
    left: 2%;
    background-color: black;
    color: #f2a3b3;
    padding: 30px;
    font-size: 40px;
}

.small-right img {
    height: 100%;
    width: 100%;
    border: 6px solid #f2a3b3;
    opacity: 0.5;
}

.small-right img:hover {
    opacity: 1;
}

.contacts a {
    font-style: italic;
    color:black;
    text-decoration: underline;
    vertical-align: center;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 70%;
    padding-left: 50px;
}

.contacts ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contacts ul li a {
    padding: 10px 15px;
    font-size: 40px;
    padding: 30px;
    float: right;
}

.contacts ul li a:hover {
    color:rgb(255, 0, 170);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}













/* Responsive Navigation Menu (for mobile devices) */
@media screen and (max-width: 600px) {
    * {
        width: 100%
    }

    body {
        display: grid;
        width: 100%;
    }
    
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding-bottom: 0;
    }

    #intro {
        padding: 5px 10px;
        text-align: center;
    }

    header nav {
        display: inline;
        padding: 5px 10px;
        width: 100%;
    }

    header nav ul {
        float: none;
        display: block;
        align-items: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .info {
        width: 100%;
        vertical-align: top;
    }

    .info.wrapper{
        margin: auto;
        padding: auto;
        padding-left: none;
        display: table;
        vertical-align: middle;
    }

    .float-left {
        border-right: none;
        border-bottom: 7px solid #f2a3b3;
        display: inline-block;
        padding: 0;
        flex: 0 100%;
        display: table-cell;
        vertical-align: top;
        position: relative;
    }

    .float-left p {
        display: flex;
        flex-wrap: wrap;
    }

    .float-right {
        display: flex;
        flex-wrap: wrap;
        flex: 0 100%;
        padding: 0;
        width: 100%;
    }

    .float-right p {
        display:flex;
        flex-wrap: wrap;
    }

    .items {
        width: 100%;
    }

    .items-left {
        position: relative;
        height: auto;
        border-right: none;
        border-bottom: 7px solid #f2a3b3; 
    }

    .items-small {
        display: table-cell;
    }

    .runbuddy {
        opacity: 1;
    }

    .small-left a {
        opacity: 1;
    }

    .small-left img{
        opacity: 1;
    }

    .small-right img {
        display: none;
    }

    .small-right h3 {
        display: none;
    }

    .contacts {
        display: inline;
        padding: 5px 10px;
    }
    
    .contacts {
        float: none;
        display: block;
        align-items: center;
    }

    .small-left, .small-right {
        display: block;
        float: none;
        width: 100%;
    }



}